@import "nav.scss";





html {
  overflow: auto;
}



body {
  background-color: hsl(49, 31%, 93%);
  overflow-x: hidden;


}



ul {
  list-style: none;
}







/* 全てのウィンドウサイズ*/



@media screen and (min-width:480px) {}



@media screen and (min-width:768px) and (max-width:1024px) {}



@media screen and (min-width:1024px) {}








.btn-primary {
  color: #fff;
  background-color: hsl(0, 15%, 52%);
  border: none;
}





.box {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}



.codepen-embed-container {

  margin: 3rem 0 0;

  h3 {
    margin-bottom: 1rem;
    color: hsl(0, 10%, 36%);
  }
}



.box-title {
  font-size: 3.5rem;
  color: hsl(0, 10%, 47%);
}





#scroll-top-nav {
  position: fixed;
  right: 0;
  bottom: 0;

  a {
    font-size: 4rem;
    color: hsl(0, 10%, 47%);
    padding: 0 2rem;

    transition: all 0.5s;



    &:hover {
      color: hsl(0, 10%, 67%);
    }
  }
}



#main {
  background-color: hsl(49, 31%, 93%);
}



#main-container {}



#logo {
  font-size: 6rem;
  color: hsl(0, 10%, 47%);
  margin-left: 50px;
}








#about {
  background-color: hsl(49, 31%, 93%);

  .box-title {
    margin-left: 100px;
  }
}


#about-dl {

  dt,
  dd {
    color: hsl(0, 10%, 36%);
  }

  dt:not(:first-child) {
    margin-top: 1.5rem;
  }

  dd {
    margin-left: 1rem;
  }

  a {
    color: hsl(0, 10%, 55%);
    text-decoration: underline;
  }
}





#coding-sample {
  .container {}
}





#contact-form {

  max-width: 500px;
  margin: 0 auto;

  label {
    color: hsl(0, 21%, 29%);
  }

  .form-control {
    background-color: hsl(26, 100%, 99%);

  }
}





#contact-form-content {
  textarea {
    height: 10rem;
  }
}





#main-footer {
  margin-top: 5rem;
  padding: 2rem 0 2rem;
  height: 150px;
}





#copyright {
  color: hsl(0, 21%, 29%);
}
